<main>
  <section id="mg">
    <div id="canvas-parent">
      <canvas id="canvas"></canvas>
    </div>

    <div id="mg-controls-parent">
      <h3 id="mg-title"></h3>
      <section id="templates">
        <% @templates.each do |template| %>
          <img data-id='<%= template[:id] %>' class='template' title='<%= template[:title] %>' src='<%= template[:imagePath] %>'>
        <% end %>
      </section>

      <div id="mg-controls"></div>

      <div id="mg-actions">
        <button id="add-text">Add Text</button>
        <button id="download-btn">Download Meme</button>
        <button id="ai-generate-btn">Generate with AI</button>
      </div>
    </div>
  </section>
</main>

<script>
  let selectedTemplate = <%= @selected_template_json %>
</script>

<script type="module" src="/canvas.js"></script>
