*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

:root {
  --gray-0: #f8f9fa;
  --gray-1: #f1f3f5;
  --gray-2: #e9ecef;
  --gray-3: #dee2e6;
  --gray-4: #ced4da;
  --gray-5: #adb5bd;
  --gray-6: #868e96;
  --gray-7: #495057;
  --gray-8: #343a40;
  --gray-9: #212529;

  --bg-header-color: var(--gray-8);
  --bg-footer-color: var(--gray-8);

  --bg-body-color: var(--gray-3);
  --bg-card-color: var(--gray-0);
  --bg-textarea-color: var(--gray-0);
  --color: var(--gray-9);
  --border-color: var(--gray-5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-body-color: var(--gray-9);
    --bg-card-color: var(--gray-8);
    --bg-textarea-color: var(--gray-9);
    --color: var(--gray-0);
    --border-color: var(--gray-6);
  }
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--bg-body-color);
  color: var(--color);
  line-height: 1.5;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding-inline: 24px;
}

.page-title {
  text-align: center;
  font-size: 24px;
  margin-block: 36px;
}

header {
  padding: 16px;
  background-color: var(--bg-header-color);
}

#header-logo {
  height: 32px;
}

footer {
  padding: 48px;
  background-color: var(--bg-footer-color);
}

#footer-logo {
  height: 24px;
  margin: 0 auto;
}

#mg {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: var(--bg-card-color);
  padding: 24px;
  border-radius: 2px;
  margin: 0 auto;
  border: 1px solid var(--border-color);
}

#canvas {
  width: 100%;
}

#canvas-parent {
  position: relative;
  width: 100%;
  user-select: none;
}

@media (min-width: 800px) {
  #mg {
    flex-direction: row;
    gap: 24px;
  }

  #canvas-parent {
    width: 450px;
  }
}

#mg-controls-parent {
  flex-grow: 1;
}

#mg-controls {
  flex-grow: 1;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#mg-actions > button {
  display: block;
  margin-top: 24px;
}

.mg-control {
  display: flex;
  gap: 8px;
}

#fill {
  height: 100%;
  border: none;
}

.mg-textarea {
  width: 100%;
  resize: none;
  background-color: var(--bg-textarea-color);
  color: inherit;
  border: 1px solid var(--border-color);
  padding: 4px;
}

.text-box {
  position: absolute;
  background: transparent;
  cursor: move;
}

.text-box:hover {
  border: 1.6px dashed var(--gray-5);

  .text-box-width-handle {
    visibility: visible;
  }

  .text-box-height-handle {
    visibility: visible;
  }
}

.text-box-handle {
  visibility: hidden;
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: var(--gray-1);
  border: 1px solid var(--gray-9);
}

.text-box-width-handle {
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  cursor: ew-resize;
}

.text-box-height-handle {
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  cursor: ns-resize;
}

#what {
  margin-block: 48px 64px;
}

#what > div {
  margin-bottom: 24px;
}
